USE [QL_SP]
GO
/****** Object:  Table [dbo].[SP]    Script Date: 2/11/2023 2:55:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SP](
	[MASP] [int] IDENTITY(1,1) NOT NULL,
	[TENSP] [nvarchar](40) NULL,
	[SOLUONG] [int] NULL,
	[GIA] [money] NULL,
	[HINH] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SP] ON 

INSERT [dbo].[SP] ([MASP], [TENSP], [SOLUONG], [GIA], [HINH]) VALUES (1, N'Nước Hoa ', 200, 200000,0000, N'hoa1.jpg')
SET IDENTITY_INSERT [dbo].[SP] OFF
GO
GO
CREATE TABLE [dbo].[CN](
	[MACN] [int] IDENTITY(1,1) NOT NULL,
	[TENCN] [nvarchar](40) NULL,
	[DIACHI][nvarchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[MACN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON[PRIMARY]
GO

CREATE TABLE [dbo].[LOAISP](
	[MALSP] [int] IDENTITY(1,1) NOT NULL,
	[TENLSP] [nvarchar](40) NULL
PRIMARY KEY CLUSTERED 
(
	[MALSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON[PRIMARY]
GO
ALTER TABLE LOAISP
ADD CONSTRAINT FK FOREIGN KEY(MALSP) REFERENCES SP(MASP)

GO
ALTER TABLE CN
ADD CONSTRAINT FK FOREIGN KEY(MASP) REFERENCES SP(MASP)
GO
ALTER TABLE CN 
ADD MASP INT  
GO
CREATE TABLE NHASX
(
 MANSX INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
 TENNSX NVARCHAR(40),
 NGAYTL DATETIME
)
GO
ALTER TABLE NHASX 
ADD CONSTRAINT FK_SX FOREIGN KEY(MANSX) REFERENCES PRODUCT(MASP)
GO
ALTER TABLE NHASX 
ADD CONSTRAINT FK_SX_01 FOREIGN KEY(MANSX) REFERENCES CN(MACN)
GO
CREATE TABLE INVOICE
(
 ID INT  PRIMARY KEY IDENTITY(1,1),
 NAMEIV NVARCHAR(40),
 QUANTITY INT,
 PRICE MONEY,
 FOREIGN KEY (ID) REFERENCES PRODUCT(MASP)
)
GO
CREATE TABLE ACOUNT
(
ACOUNID INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
USERNAME CHAR(50),
PASWORD CHAR(50),
)
GO
CREATE TABLE CUSTOMER
(
CUSTOMERID INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
NAMECUS NVARCHAR(50),
ADDRES NVARCHAR(50),
 FOREIGN KEY (CUSTOMERID) REFERENCES ACOUNT(ACOUNID)
)
GO
ALTER TABLE CUSTOMER
ADD CONSTRAINT FK_C FOREIGN KEY(CUSTOMERID) REFERENCES PRODUCT(MASP)
GO
CREATE TABLE NEWS
(
  IDNEWS INT IDENTITY(1,1) PRIMARY KEY,
  NEWWORK NVARCHAR(MAX),
  FOREIGN KEY (IDNEWS) REFERENCES ACOUNT(ACOUNID)
  )
  GO
  CREATE TABLE PRODUCT_DETAIL
  (
  DETAILID INT IDENTITY (1,1) PRIMARY KEY,
  NAMEDETAIL NVARCHAR(MAX),
   FOREIGN KEY (DETAILID) REFERENCES PRODUCT(MASP)
  )